@page "/showMosaic"

@rendermode InteractiveServer
@inject ITMDBService tmdbService

<PageTitle>Show Mosaic</PageTitle>

<div class="container-xxl text-center mt-3">
    <div>
        <img src="/img/mw1024_ShowMosaicLogo.png" class="title-img" />
        <h5 class="subTitle">Piece Together the Show, One Tile at a Time.</h5>
    </div>
</div>
<div class="container-xxl game-container">
    <div class="gameBoard-container">
        <div class="poster-container">
            <img src="@randomTVShow.PosterPath" class="poster-img" />
            <div class="poster-overlay row row-cols-3 g-0">
                @foreach (var square in squareList)
                {
                    <div class="col overlay-block @(square.Show ? "fade-out" : "")">
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="controls-container rounded" data-bs-theme="dark">
        <div>
            <div class="mt-4">
                <EditForm Model="showFormModel" OnValidSubmit="HandleSubmit">
                    <DataAnnotationsValidator />
                    <div class="hstack gap-3">
                        <InputText class="form-control" placeholder="Enter a movie title"
                                   @bind-value="showFormModel.ShowTitle"
                                   autocomplete="off"
                                   autocorrect="off"
                                   spellcheck="false"
                                   @oninput="OnInputChanged"/>
                        <button class="btn btn-primary" type="submit">Guess</button>
                    </div>
                    <ValidationMessage For="() => showFormModel.ShowTitle" />
                        <!--Show the type ahead results-->
                        @if (tVShows?.Any() == true)
                        {
                            <div class="suggestions-wrapper">
                                <ul class="suggestions">
                                    @foreach(var tVShow in tVShows)
                                {
                                    <li @onclick="() => SelectTVShow(tVShow)">@tVShow.Name </li>
                                }
                            </ul>
                            </div>
                        }
                </EditForm>
            </div>
            <nav class="mt-3">
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <button class="nav-link active" id="nav-hint-tab"
                            data-bs-toggle="tab"
                            data-bs-target="#nav-hint"
                            type="button"
                            role="tab"
                            aria-selected="true">
                        Hints
                    </button>
                    <button class="nav-link" id="nav-guess-tab"
                            data-bs-toggle="tab"
                            data-bs-target="#nav-guess"
                            type="button"
                            role="tab"
                            aria-selected="false">
                        Guesses
                    </button>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane border-0 fade show active" id="nav-hint"
                     role="tabpanel" aria-label="nav-hint-tab" tabindex="0">
                    <ul class="list-group mb-3" id="Hints">
                        <li class="list-group-item">
                            <i class="bi bi-1-square-fill me-1">Hint 1 Goes Here</i>
                        </li>
                        <li class="list-group-item">
                            <i class="bi bi-2-square-fill me-1">Hint 2 Goes Here</i>
                        </li>
                        <li class="list-group-item">
                            <i class="bi bi-3-square-fill me-1">Hint 3 Goes Here</i>
                        </li>
                    </ul>
                </div>
                <div class="tab-pane border-0 fade" id="nav-guess"
                     role="tabpanel" aria-label="nav-guess-tab" tabindex="0">
                    <ul class="list-group mb-3" id="Guesses">
                        @for (int i = 0; i < guesses.Count; i++)
                        {
                            var guess = guesses[i];

                            if (guess.Correct)
                            {
                                <li class="list-group-item  list-group-item-success">
                                    <i class="bi bi-@(i + 1)-square-fill me-1"></i>
                                    <span>@guess.Title</span>
                                </li>
                            }
                            else
                            {
                                <li class="list-group-item list-group-item-danger">
                                    <i class="bi bi-@(i + 1)-square-fill me-1"></i>
                                    <span>@guess.Title</span>
                                </li>

                            }
                        }

                    </ul>
                </div>
                <div class="hstack gap-2 justify-content-end">
                    <button class="btn btn-info controls-btn" @onclick="PlayItAgain">Play Again</button>
                    <button class="btn controls-btn">
                        <i class="bi bi-question-circle text-secondary"></i>
                    </button>
                    <button class="btn controls-btn">
                        <i class="bi bi-gear text-secondary"></i>
                    </button>
                </div>

            </div>
        </div>
    </div>

</div>

<WinLossTVOverlay IsWin="@win"
                 IsVisible="@showOverlay"
                 ShowTitle="@randomTVShow.Name"
                 Guesses="@guesses.Count"
                  OnClose="CloseOverlay" />

@code {
    #region State Variables

    ShowFormModel showFormModel = new ShowFormModel();
    private TVShow randomTVShow = new TVShow();

    private int squareCount = 12;
    private int yearStart = 1970;
    private int yearEnd = 2025;
    private string selectedGenres = "";

    List<Square> squareList = new List<Square>();
    private List<TVShow> tVShows = new List<TVShow>();
    private List<Guess> guesses = [];

    //timers
    private Timer? debounceTimer;
    private Timer? inactivityTimer;

    private int debounceDelay = 500; //milliseconds

    //game state variables
    private int maxGuesses = 5;
    private bool gameOver = false;
    private bool win = false;
    private bool showOverlay = false;

    #endregion State Variables

    #region Game Flow

    private async Task PlayItAgain()
    {
        //reset the game state
        await ResetGameState();

        //start a new game
        await NewGame();

        Task.Delay(2000).Wait(); //wait for a second to let the UI update

        //show a random square
        showRandomSquare();

        // StateHasChanged();
    }


    private async Task NewGame()
    {
        randomTVShow = new TVShow();
        win = false;
        randomTVShow = await tmdbService.GetRandomTVShowAsync(yearStart, yearEnd, selectedGenres);
    }

    private async Task ResetGameState()
    {
        squareList = new();

        for (int i = 1; i <= squareCount; i++)
        {
            Square newSquare = new();
            newSquare.Show = false;
            squareList.Add(newSquare);
        }

        guesses = new();
        win = false;
        gameOver = false;
        showOverlay = false;

        //clear guess text input
        showFormModel = new();

    }

    private void showRandomSquare()
    {
        Random random = new Random();

        List<Square> hiddenSquares = squareList.Where(s => s.Show == false).ToList();

        if (hiddenSquares.Count > 0)
        {
            //pick a random square from the hidden squares
            int randomIndex = random.Next(hiddenSquares.Count());
            hiddenSquares[randomIndex].Show = true;
        }
    }

    private void CloseOverlay()
    {
        showOverlay = false;
    }


    private void RevealPoster()
    {
        foreach (var square in squareList)
        {
            square.Show = true;
        }
    }


    private async Task HandleSubmit()
    {
        if (showFormModel.ShowTitle?.ToLower() == randomTVShow.Name?.ToLower())
        {
            StateHasChanged();

            //show movie poster
            RevealPoster();

            win = true;
            gameOver = true;
        }
        else
        {
            //show a new random square
            showRandomSquare();
            win = false;
            gameOver = false;
        }
        
        guesses.Add(new Guess
        {
            Title = showFormModel.ShowTitle,
            Correct = win
        });

        //check if the max guesses have been reached
        if (guesses.Count >= maxGuesses)
        {
            gameOver = true;
            win = false;
            RevealPoster();
        }

        if (gameOver)
        {
            showOverlay = true;
        }
    }

    #endregion Game Flow

    #region Lifecycle Events

    protected override async Task OnInitializedAsync()
    {

    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender || randomTVShow.Id == 0)
        {
            await PlayItAgain();
            StateHasChanged();
        }
    }

    #endregion Lifecycle Events

    #region Search Type Ahead

    private async Task SearchTVShows()
    {
        //if search is empty and clear results.
        if (string.IsNullOrEmpty(showFormModel.ShowTitle))
        {
            tVShows.Clear();
        }
        else
        {
            try
            {
                var response = await tmdbService.SearchTVShowsAsync(showFormModel.ShowTitle);

                tVShows = response ?? new List<TVShow>();
            }
            catch (Exception ex)
            {
                Console.WriteLine($"Error searching TV shows: {ex.Message}");
                tVShows.Clear();
            }
        }

        //trigger a re-render to refresh UI.
        StateHasChanged();
    }

    private void OnInputChanged(ChangeEventArgs e)
    {
        // Update the model with the new input value
        showFormModel.ShowTitle = e.Value?.ToString() ?? string.Empty;

        //dispose any existing search timers
        debounceTimer?.Dispose();

        //create a new timer that calls search movies after a debounce delay
        debounceTimer = new Timer(async _ =>
         {

             await InvokeAsync(async () =>
         {
             await SearchTVShows(); 
             ResetInactivityTimer();
         });
         }, null, debounceDelay, Timeout.Infinite);

    }

    private void ResetInactivityTimer()
    {
        inactivityTimer?.Dispose();

        inactivityTimer = new Timer(_ =>
        {
            // Handle inactivity (e.g., show a message, log out, etc.)
            InvokeAsync(() =>
        {
            tVShows.Clear();
            StateHasChanged();

        });
        }, null, 10000, Timeout.Infinite); // 30 seconds of inactivity
    }

    private void SelectTVShow(TVShow tVShow)
    {
        // Set the selected TV show in the form model
        showFormModel.ShowTitle = tVShow.Name;

        // Clear the search results
        tVShows.Clear();

    }

    #endregion Search Type Ahead


}
